@{
    ViewBag.Title = "Send Temporary Password";
}

<div id="SendTemporaryPassword">
    <form id="temporaryPasswordForm">
        Please enter the username of your account:
        <input type="email" id="userName" name="userName"/><br/>
        <input type="submit" id="submit" name="submit" value="Submit" />
    </form>
</div>
<script type="text/javascript">
    InitializeTemporaryPassword();
</script>